{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Tables</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
</head>

<body>
	<div class="container">
	
		<h1 style="text-align:center;color:rgb(240, 248, 252);">
			Flask Shortener Statistics 
		</h1>
	
		<!-- Bootstrap table and table-hover classes -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Short</th>
                    <th scope="col">Original</th>
                    <th scope="col">Clicks</th>
                    <th scope="col">Creation Date</th>
				</tr>
			</thead>
			
			<tbody>
                {% for url in urls %}
                <tr>
                    <!-- <th scope="row">{{ url['_id'] }}</th> -->
                    <td><a href="{{ url['short_url'] }}">{{ url['short_url'] }}</a></td>
                    <td><a href="{{ url['original_url'] }}">{{ url['original_url'] }}</td>
                    <td>{{ url['clicks'] }}</td>
                    <td>{{ url['timestamp'] }}</td>
                </tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
</body>

</html>	
{% endblock %}			
